@model List<CategoryItemModel>
@{
    //Layout = "_MainLayout"; //не використовувати обгортку Layout
}

<div class="container">
    <h1 class="text-center">Категорії</h1>
    <a asp-action="Create" class="btn btn-success">Додати категорію</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фото</th>
                <th scope="col">Назва</th>
                <th scope="col">Remove</th>
                <th scope="col">Alter</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var category in Model)
            {
                <tr>
                    <th scope="row">@category.Id</th>
                    <td>
                        <img src="/images/@category.Image" width="100"/>
                    </td>
                    <td>@category.Name</td>
                    <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.Id">Delete</a></td>
                    <td><a class="btn btn-secondary" asp-action="Update" asp-route-id="@category.Id">Alter</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>


