@model List<CategoryItemModel>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <h1 class="text-center">Категорії</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фото</th>
            <th scope="col">Назва</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th scope="row">@category.Id</th>
                <td>
                    <img src="/images/@category.Image" width="100"/>
                </td>
                <td>@category.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>


