@model ForgotPasswordViewModel
<div class="container mt-4">
    <h2 class="text-center">Відновлення пароля</h2>
    <form asp-action="ForgotPassword" class="col-md-6 offset-md-3">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">Надіслати код</button>
    </form>
</div>