@model LoginViewModel

<div class="container">
    <h1 class="text-center">Вхід</h1>
    <form asp-action="Login" class="col-md-6 offset-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control">
            <span for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control">
            <span for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary d-inline-block">Вхід</button>
        <a class="mx-4" asp-action="ForgotPassword">forgot password</a>
    </form>
</div>