@model ResetPasswordViewModel

<div class="container mt-4">
    <h2 class="text-center">Створення нового пароля</h2>
    <form asp-action="ResetPassword" class="col-md-6 offset-md-3">
        <input hidden asp-for="Email"/>
        <input hidden asp-for="Code"/>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control" type="password"/>
        </div>

        <button type="submit" class="btn btn-success">Змінити пароль</button>
    </form>
</div>