<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>АТБ</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>